@import "../../variables.css";
.progress {
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
.projectSection {
  margin-bottom: 70px;
}

.projectWrapper {
  background-color: var(--color-box);
  border-radius: 15px;
  box-shadow: 5px 10px 30px var(--color-border);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin-bottom: 35px;
  /* margin: 0 auto; */
}
.imageContainer {
  width: 50%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
  flex: 1;
}

.projectTextContainer {
  flex: 2;
  width: 50%;
  height: auto;
  transition: transform 0.4s ease;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--color-text);
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: var(--color-bg);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
  }
  .imageContainer img {
    max-width: 100%;
  }

  .projectTextContainer {
    margin-top: 25px;
  }
  .title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
  .projectTextContainer h2 {
    font-size: 1.4rem;
  }
  .projectTextContainer p {
    font-size: 1rem;
  }
}
