.skillContainer {
  color: var(--color-text);
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: var(--color-box);
  border-radius: 15px;
  padding: 60px;
  box-shadow: 5px 10px 30px var(--color-border);
  margin-left: 10%;
  margin-right: 10%;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 2;
}

.cartoonContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartoonImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  top: 50%;
}

.categoryTitle {
  font-family: var(--font-shantell);
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: start;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.itemDiv {
  width: calc(100% / 6 - 30px); /* Calculate width for six items with a gap */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.skillItem {
  list-style: none;
}

.skillImage {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  .categories {
    flex: none;
    width: 100%;
  }
  .cartoonContainer {
    display: none;
  }
  .categoryTitle {
    font-size: 1.5rem;
  }
  .skillItem p {
    font-size: 0.8rem;
  }
  .title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .categoryTitle {
    font-size: 1.3rem;
  }
  .skillItem p {
    font-size: 0.5rem;
  }
  .skillImage {
    width: 30px;
    height: 30px;
  }
  .title {
    font-size: 1.5rem;
  }
}
