@import "../../variables.css";
.aboutContainer {
  position: relative;
  z-index: 1;
}
.aboutContent {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-box);
  border-radius: 15px;
  box-shadow: 5px 10px 30px var(--color-border);
  padding: 60px;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 1;
}
.aboutImg {
  width: 35%;
}
.ulItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.eachItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  /* padding: 10px; */
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.eachItem:hover {
  background-size: 100% 100%;
}
.itemDescription {
  margin-top: 10px;
  padding-left: 20px;
}
.itemDescription h3 {
  line-height: 1.8;
  font-size: 25px;
  font-weight: 600;
}

.itemDescription p {
  font-size: 20px;
  font-family: var(--font-Comfortaa);
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
  .itemDescription h3 {
    font-size: 1.5rem;
  }

  .itemDescription p {
    font-size: 0.7;
  }
}
@media screen and (max-width: 480px) {
  .aboutImg {
    display: none;
  }
  .title {
    font-size: 1.5rem;
  }
  .ulItems {
    padding-right: 10%;
  }
  .itemDescription h3 {
    font-size: 1.4rem;
  }

  .itemDescription p {
    font-size: 0.9;
  }
  .aboutContent {
    padding: 30px;
  }
}
